<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,100;1,200;1,300;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<body>

    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="#banner">Home</a></li>
                <li><a href="/register">Booking</a></li>
                <li><a href="#feature">Features</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#testimonial">Testimonials</a></li>
                <li><a href="#footer">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="../css/img/menu.png" alt="menubtn" id="menu">
    </div>


</body>
</html>